jobs:
- job: macOS
  pool:
    vmImage: 'macOS-latest'
  steps:
    - task: CMake@1
      inputs:
        cmakeArgs: $(build.sourcesDirectory) -DCMAKE_OSX_ARCHITECTURES="arm64;x86_64"
        runInsideShell: true
    - publish: '$(build.sourcesDirectory)/build/UltraschallSoundboard_artefacts'
      artifact: macOS
- job: Windows
  pool:
    vmImage: 'windows-latest'
  steps:
    - task: CMake@1
      inputs:
        cmakeArgs: $(build.sourcesDirectory)
        runInsideShell: true
    - publish: '$(build.sourcesDirectory)/build/UltraschallSoundboard_artefacts'
      artifact: Windows
- job: Linux
  pool:
    vmImage: 'ubuntu-18.04'
  steps:
    - task: Docker@2
      inputs:
        command: 'build'
        Dockerfile: './Dockerfile'
        buildContext: '.'
        arguments: '-t ultraschall_soundboard:$(Build.BuildId)'
    - pwsh: |
        docker container create --name ultraschall_soundboard_extract ultraschall_soundboard:$(Build.BuildId)
        docker container cp ultraschall_soundboard_extract:/usr/local/src/ultraschall-soundboard/build/UltraschallSoundboard_artefacts $(build.sourcesDirectory)/artifacts
        docker container rm -f ultraschall_soundboard_extract
    - publish: '$(build.sourcesDirectory)/artifacts'
      artifact: Linux