<?xml version="1.0" encoding="UTF-8"?>
<Wix
  xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="Ultraschall Soundboard" Id="D87D33CF-8601-4548-867C-59ABAD7F20AF" Language="1033" Version="1.9.9.0" Manufacturer="Ultraschall" UpgradeCode="DAA8EDB1-3FDD-4248-948E-51451834AE37">
    <Package Id="*" Keywords="Installer" InstallerVersion="301" Compressed="yes" Manufacturer="Ultraschall" Platform="x64"/>
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Media Id='1' Cabinet='Data.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="Ultraschall Soundboard Installation [1]" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Icon Id="Soundboard.exe" SourceFile="../Standalone/Builds/VisualStudio2015/x64/Release/Soundboard.exe" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="Company64Folder" Name="Ultraschall">
          <Directory Id="INSTALLDIR" Name="Soundboard">
            <Component Id="ProductComponent" Win64='yes' Guid='D01079E7-BE39-45D7-BFA4-36E81E1473FA'>
              <File Source="../Standalone/Builds/VisualStudio2015/x64/Release/Soundboard.exe" DiskId='1' KeyPath='yes' ProcessorArchitecture='x64'>
                <Shortcut Id="desktopShortcut" Directory="DesktopFolder" Name="Ultraschall Soundboard" WorkingDirectory="INSTALLDIR" Advertise="yes" Icon="Soundboard.exe" IconIndex="0" />
                <Shortcut Id="ExeShortcut" Directory="ProgramMenuDir" Name="Soundboard" Advertise="yes" Icon="Soundboard.exe" IconIndex="0" />
              </File>
            </Component>
          </Directory>
        </Directory>
        <Directory Id="SteinbergApplication64Folder" Name="Steinberg">
          <Directory Id="SteinbergVst64Folder" Name="VstPlugins">
            <Component Id="Vst64Component" Win64='yes' Guid='9666DEF6-3F76-43B6-B7F5-20A407D5D4D8'>
              <File Source="../Plugin/Builds/VisualStudio2015/x64/Release/Soundboard64.dll" ProcessorArchitecture='x64' />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="SteinbergApplicationFolder" Name="Steinberg">
          <Directory Id="SteinbergVstFolder" Name="VstPlugins">
            <Component Id="Vst32Component"  Win64='no' Guid='5A538862-9E6C-4E80-BCDC-F85B0C6BA9C6'>
              <File Source="../Plugin/Builds/VisualStudio2015/Release/Soundboard32.dll" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" />
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="Ultraschall">
          <Component Id="StartMenuShortcuts" Guid="4C1C3F96-7134-46CD-B50F-7DFF39E65331">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id='Complete' Title='Ultraschall Soundboard' Description='The complete package.'
       Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
      <Feature Id="MainProgram" Title="Standalone" Level="1">
        <ComponentRef Id="ProductComponent" />
        <ComponentRef Id="StartMenuShortcuts" />
      </Feature>
      <Feature Id="VstFeature" Title="VST Plugins" Level="1">
        <Feature Id="Vst64Feature" Title="64bit">
          <ComponentRef Id="Vst64Component" />
        </Feature>
        <Feature Id="Vst32Feature" Title="32bit">
          <ComponentRef Id="Vst32Component" />
        </Feature>
      </Feature>
    
    </Feature>

<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />
    
  </Product>
</Wix>